
.bg{
	position: fixed;
	height: 100%;
	width: 100%;
    background-attachment: fixed;
    transition: all 1.5s ease;
    background-size: 100% ;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .8;
}
        .logo {
            width: 150px;
            margin-left: calc(50% - 75px);
            margin-top: 20px;
        }

        .list-inline {
            background: #FFE076;
            width: 830px;
            height: 39px;
            text-align: center;
            margin-left: calc(50% - 415px)!important;
            margin-top: 20px !important;
            font-size: 18px !important;
            border-radius: 4px;
            font-family: "微軟正黑體";
        }

        a {
            text-decoration: none;
        }

        .word:hover {
            text-decoration: none !important;
            padding-top: 2px !important;
            padding-left: 0px;
            padding-right: 0px;
            height: 31px !important;
            border: 2px white solid !important;
            border-radius: 10px;
            color: #4F3F17;
            /*color: #C6AA5C!important;*/
        }

        .word {
            padding-top: 8px !important;
            padding-left: 2px;
            padding-right: 2px;
            color: #4F3F17;
            height: 35px !important;
            display: block !important;
        }

        .titlepc {
            position: absolute;
   			 width: 810px;
   			 margin-left: calc(50% - 405px)!important;
   			 margin-top: 20px !important;
   			 border-radius: 4px;
   			     transition: all 0.6s ease;
        }

        .ins1 {
            position: relative;
            width: auto;
            height: 100%;
            margin-left: calc(50% - 42px);
            transition: all 2s ease;
        }

        .ins2 {
            position: relative;
            width: auto;
            height: 100%;
            top: -150px;
            opacity: 0;
            transition: all 0.75s ease;
        }

        .cycle_pic {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            overflow: hidden;
            margin-left: calc(35% - 75px);
            margin-top: 60px;
            position: absolute;
        }

        .cycle_pic:hover>.ins1 {
            opacity: 0;
        }

        .cycle_pic:hover>.ins2 {
            opacity: 1;
        }

        .insw {
            height: 210px;
            font-family: "微軟正黑體";
            font-size: 18px !important;
            color: #4F3F17;
            font-weight: bolder;
        }

        .incent {
            position: absolute;
            margin-left: calc(35% + 120px);
            margin-top: 100px;
            width: 40%;

        }

        .int {
            background: #FFE076;
            width: 220px;
            height: 200px;
            text-align: right;
            padding-right: 20px;
            padding-top: 40px;
            position: absolute;
            right: 1200px;
            z-index: 9;
            margin-top: 20px;
            border-radius: 15px;
            transition: all 2s ease;
        }


.igfb {
    background: #FFE076;
    width: 160px;
    height: 180px;
    text-align: center;
    padding-left: 8px;
    padding-top: 110px;
    position: absolute;
    left: 120px;
    z-index: 9;
    margin-top: 30px;
    border-radius: 15px;
    transition: all 2s ease;
        }

        .icon_fb {
            height: 60px;
        }

        .icon_ig {
            height: 60px;
        }

        .school {
            margin-top: 60px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #E2B73B;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .here {
            width: 140px;
          	margin-left: 100%;
    		margin-top: -130px;
    		opacity: 0;
        }

        .sch {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 70px;
        }

        .schoo {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #423510/*EFDCAC*/
            ;
            text-align: center;
            position: absolute;
            margin-left: 16%;
            margin-top: -84px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .school:hover {
            background: #9B7B2A;
        }

        .school:hover>.schoo {
            color: #EAC25C;
            font-weight: bolder;
        }

        .school:hover>.sch {
            filter: brightness(300);
        }

        .clu {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 600px;
        }

        .clubb {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #6D5519;
            text-align: center;
            position: absolute;
            margin-left: 22%;
            margin-top: -74px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .club {
            margin-top: 20px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #FFE076;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .club:hover {
            background: #F4C647;
        }

        .club:hover>.clubb {
            color: #231A04;
            font-weight: bolder;
        }

        .club:hover>.clu {
            filter: brightness(300);
        }

        .work {
            margin-top: 20px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #E2B73B;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .wor {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 70px;
        }

        .workk {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #423510/*EFDCAC*/
            ;
            text-align: center;
            position: absolute;
            margin-left: 18%;
            margin-top: -76px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .work:hover {
            background: #9B7B2A;
        }

        .work:hover>.workk {
            color: #EAC25C;
            font-weight: bolder;
        }

        .work:hover>.wor {
            filter: brightness(300);
        }

        .inter {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 600px;
        }

        .interestt {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #6D5519;
            text-align: center;
            position: absolute;
            margin-left: 20%;
            margin-top: -74px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .interest {
            margin-top: 20px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #FFE076;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .interest:hover {
            background: #F4C647;
        }

        .interest:hover>.interestt {
            color: #231A04;
            font-weight: bolder;
        }

        .interest:hover>.inter {
            filter: brightness(300);
        }

        .fighting {
            margin-top: 20px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #E2B73B;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .fight {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 70px;
        }

        .fightingg {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #423510/*EFDCAC*/
            ;
            text-align: center;
            position: absolute;
            margin-left: 18%;
            margin-top: -76px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .fighting:hover {
            background: #9B7B2A;
        }

        .fighting:hover>.fightingg {
            color: #EAC25C;
            font-weight: bolder;
        }

        .fighting:hover>.fight {
            filter: brightness(300);
        }

        .cir {
            position: relative;
            width: 100px;
            height: 100px;
            margin-top: 16px;
            margin-left: 600px;
        }

        .circlee {
            font-family: "微軟正黑體";
            font-size: 16px;
            color: #6D5519;
            text-align: center;
            position: absolute;
            margin-left: 10%;
            margin-top: -74px;
            transition: all 0.5s ease;
            font-weight: bolder;
        }

        .circle {
            margin-top: 20px;
            margin-left: calc(50% - 390px);
            width: 780px;
            height: 130px;
            background-color: #FFE076;
            border-radius: 15px;
            transition: all 0.5s ease;
        }

        .circle:hover {
            background: #F4C647;
        }

        .circle:hover>.circlee {
            color: #231A04;
            font-weight: bolder;
        }

        .circle:hover>.cir {
            filter: brightness(300);
        }

        .lifepc {
            width: 180px;
            margin-left: calc(50% - 90px);
            margin-top: 60px;
        }

        .life1 {
            width: 280px;
            height: auto;
            border-radius: 4px;
        }

        .lifee {
            width: 1214px;
            margin-left: calc(50% - 607px);
            top: 40px;
            position: relative;
            display: block;
            margin: auto;


        }

        .pro {
            width: 280px;
            margin-top: 80px;
            display: inline-block;
            margin: 10px;
        }

        .rose {
            position: relative;
            left: 0px;
            width: 100px;
            margin-left: 90px;
            margin-top: -150px;
            opacity: 0;
        }

        .pro:hover>.life1 {
            filter: blur(1px);
        }

        .pro:hover>.rose {
            opacity: 1;
            filter: brightness(120%);
        }

        /**/

        .rainbow {
            position: relative;
            left: 0px;
            width: 130px;
            margin-left: 75px;
            margin-top: -150px;
            opacity: 0;
        }

        .pro:hover>.life1 {
            filter: blur(1px);
        }

        .pro:hover>.rainbow {
            opacity: 1;
            filter: brightness(120%);
        }

        /**/

        .letter {
            position: relative;
            left: 0px;
            width: 80px;
            margin-left: 100px;
            margin-top: -150px;
            opacity: 0;
        }

        .pro:hover>.life1 {
            filter: blur(1px);
        }

        .pro:hover>.letter {
            opacity: 1;
            filter: brightness(120%);
        }

        .life2 {
            width: 220px;
            height: auto;
            border-radius: 4px;
        }

        .pro2 {
            width: 220px;
            margin-top: 80px;
            display: inline-block;
            margin: 10px;
        }

        .lifee2 {
            width: 1220px;
            margin-left: calc(50% - 610px);
            top: 20px;
            position: relative;
            display: block;
            margin: auto;
        }

        .cat {
            position: relative;
            left: 0px;
            width: 134px;
            margin-left: 44px;
            margin-top: -280px;
            opacity: 0;
        }

        .pro2:hover>.life2 {
            filter: blur(1px);
        }

        .pro2:hover>.cat {
            opacity: 1;
            filter: brightness(120%);
        }

        .daily {
            width: 160px;
            margin-left: calc(50% - 90px);
            margin-top: 60px;
        }

        .finally {
            width: 1100px;
            margin-left: calc(50% - 550px);
            top: 40px;
            position: relative;
            display: inline-block;
        }

        .ice1 {
            position: relative;
            width: 540px;
            transform: rotate(90deg);
            border-radius: 15px;
            display: inline-block;
        }

        .ice2 {
            position: relative;
            width: 540px;
            top: -10px;
            margin-top: -540px;
            opacity: 0;
            border-radius: 15px;
            transition: all 0.75s ease;
        }

        .name {
            position: relative;
            width: 540px;

            border-radius: 15px;
            display: inline-block;
        }

        .name2 {
            position: relative;
            width: 540px;
            margin-top: -540px;
            opacity: 0;
            top: -10px;
            border-radius: 15px;
            transition: all 0.75s ease;
        }

        .coldstone {
            display: inline-block;
            width: 540px;
            height: 540px;
        }

        .museum {
            display: inline-block;
            width: 540px;
            height: 540px;
            margin-left: 16px;
        }

        .coldstone:hover>.ice1 {
            filter: blur(1px);
 
        }

        .coldstone:hover>.ice2 {
        	background:#ffffff6b;
        	top: -10px;
            opacity: 1;
            
        }
        .museum:hover>.name {
            filter: blur(1px);
        
        }

        .museum:hover>.name2 {
        	background:#ffffff6b;
			top: -10px;
            opacity: 1;
            
        }

        .footer {
            position: relative;
            bottom: 0;
            left: 0;
            height: 34px;
            background-color: #FFE076;
            width: 100%;
            text-align: center;
            margin-top: 40px;
            padding-top: 8px;
        }

        .uppp{
        	position: fixed;
        	right:15px;
        	bottom:35px;
        	width: 60px;
        	

        }
        .titlepc.showing {
    opacity: 1;
}
.titlepc.no{
	opacity: 0;
}

.titlepcc {
    width: 810px;
    margin-left: calc(50% - 405px)!important;
    margin-top: 20px !important;
    height: 560px;
    border-radius: 4px;
    position: relative;
}